In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier, DummyRegressor
import numpy as np

In [2]:
df = pd.read_csv('../data/bigml_59c28831336c6604c800002a.csv')
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [3]:
df = df.drop(columns = ['phone number', 'area code'])

In [4]:
df['churn'].value_counts()

False    2850
True      483
Name: churn, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   international plan      3333 non-null   object
 3   voice mail plan         3333 non-null   object
 4   number vmail messages   3333 non-null   int64
 5   total day minutes       3333 non-null   float64
 6   total day calls         3333 non-null   int64
 7   total day charge        3333 non-null   float64
 8   total eve minutes       3333 non-null   float64
 9   total eve calls         3333 non-null   int64
 10  total eve charge        3333 non-null   float64
 11  total night minutes     3333 non-null   float64
 12  total night calls       3333 non-null   int64
 13  total night charge      3333 non-null   float64
 14  total intl minutes      3333 non-null   float64
 15  total intl calls        3333 non-null   int64
 16  total intl charge       3333 non-null   float64
 17  customer service calls  3333 non-null   int64
 18  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(7), object(3)
memory usage: 472.1+ KB

In [6]:
df.head()

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [7]:
df['average_hourly_night_rate'] = df['total night minutes'] / df['total night charge']

In [8]:
df['average_hourly_day_rate'] = df['total day minutes'] / df['total day charge']

In [9]:
df['average_hourly_intl_rate'] = df['total intl minutes'] / df['total intl charge']

In [10]:
df['average_hourly_eve_rate'] = df['total eve minutes'] / df['total eve charge']

In [11]:
df.head()

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn,average_hourly_night_rate,average_hourly_day_rate,average_hourly_intl_rate,average_hourly_eve_rate
0,KS,128,no,yes,25,265.1,110,45.07,197.4,99,...,11.01,10.0,3,2.70,1,False,22.225250,5.881961,3.703704,11.764005
1,OH,107,no,yes,26,161.6,123,27.47,195.5,103,...,11.45,13.7,3,3.70,1,False,22.218341,5.882781,3.702703,11.762936
2,NJ,137,no,no,0,243.4,114,41.38,121.2,110,...,7.32,12.2,5,3.29,0,False,22.213115,5.882069,3.708207,11.766990
3,OH,84,yes,no,0,299.4,71,50.90,61.9,88,...,8.86,6.6,7,1.78,2,False,22.223476,5.882122,3.707865,11.768061
4,OK,75,yes,no,0,166.7,113,28.34,148.3,122,...,8.41,10.1,3,2.73,3,False,22.223543,5.882145,3.699634,11.760508

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      3333 non-null   object
 1   account length             3333 non-null   int64
 2   international plan         3333 non-null   object
 3   voice mail plan            3333 non-null   object
 4   number vmail messages      3333 non-null   int64
 5   total day minutes          3333 non-null   float64
 6   total day calls            3333 non-null   int64
 7   total day charge           3333 non-null   float64
 8   total eve minutes          3333 non-null   float64
 9   total eve calls            3333 non-null   int64
 10  total eve charge           3333 non-null   float64
 11  total night minutes        3333 non-null   float64
 12  total night calls          3333 non-null   int64
 13  total night charge         3333 non-null   float64
 14  total intl minutes         3333 non-null   float64
 15  total intl calls           3333 non-null   int64
 16  total intl charge          3333 non-null   float64
 17  customer service calls     3333 non-null   int64
 18  churn                      3333 non-null   bool
 19  average_hourly_night_rate  3333 non-null   float64
 20  average_hourly_day_rate    3331 non-null   float64
 21  average_hourly_intl_rate   3315 non-null   float64
 22  average_hourly_eve_rate    3332 non-null   float64
dtypes: bool(1), float64(12), int64(7), object(3)
memory usage: 576.2+ KB

In [13]:
df.dropna(axis=0, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3312 entries, 0 to 3332
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      3312 non-null   object
 1   account length             3312 non-null   int64
 2   international plan         3312 non-null   object
 3   voice mail plan            3312 non-null   object
 4   number vmail messages      3312 non-null   int64
 5   total day minutes          3312 non-null   float64
 6   total day calls            3312 non-null   int64
 7   total day charge           3312 non-null   float64
 8   total eve minutes          3312 non-null   float64
 9   total eve calls            3312 non-null   int64
 10  total eve charge           3312 non-null   float64
 11  total night minutes        3312 non-null   float64
 12  total night calls          3312 non-null   int64
 13  total night charge         3312 non-null   float64
 14  total intl minutes         3312 non-null   float64
 15  total intl calls           3312 non-null   int64
 16  total intl charge          3312 non-null   float64
 17  customer service calls     3312 non-null   int64
 18  churn                      3312 non-null   bool
 19  average_hourly_night_rate  3312 non-null   float64
 20  average_hourly_day_rate    3312 non-null   float64
 21  average_hourly_intl_rate   3312 non-null   float64
 22  average_hourly_eve_rate    3312 non-null   float64
dtypes: bool(1), float64(12), int64(7), object(3)
memory usage: 598.4+ KB

In [15]:
X = df.drop('churn', axis=1)
y = df['churn']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
train_state_cat = X_train['state']

In [18]:
train_plan_cat = X_train[['international plan', 'voice mail plan']]

In [19]:
train_plan_cat

     international plan voice mail plan
228                  no             yes
367                  no              no
872                  no             yes
1266                 no              no
277                  no             yes
...                 ...             ...
1103                 no              no
1138                 no              no
1302                 no              no
865                  no              no
3193                 no              no

[2484 rows x 2 columns]

## One Hot Encoding State Column

In [20]:
ohe = OneHotEncoder(categories = 'auto', sparse=False, handle_unknown="ignore")

In [21]:
train_state_encoded = ohe.fit_transform(np.array(train_state_cat).reshape(-1,1))

In [22]:
ohe.categories_

[array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
        'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
        'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
        'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
        'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)]

In [23]:
ohe.get_feature_names()

array(['x0_AK', 'x0_AL', 'x0_AR', 'x0_AZ', 'x0_CA', 'x0_CO', 'x0_CT',
       'x0_DC', 'x0_DE', 'x0_FL', 'x0_GA', 'x0_HI', 'x0_IA', 'x0_ID',
       'x0_IL', 'x0_IN', 'x0_KS', 'x0_KY', 'x0_LA', 'x0_MA', 'x0_MD',
       'x0_ME', 'x0_MI', 'x0_MN', 'x0_MO', 'x0_MS', 'x0_MT', 'x0_NC',
       'x0_ND', 'x0_NE', 'x0_NH', 'x0_NJ', 'x0_NM', 'x0_NV', 'x0_NY',
       'x0_OH', 'x0_OK', 'x0_OR', 'x0_PA', 'x0_RI', 'x0_SC', 'x0_SD',
       'x0_TN', 'x0_TX', 'x0_UT', 'x0_VA', 'x0_VT', 'x0_WA', 'x0_WI',
       'x0_WV', 'x0_WY'], dtype=object)

In [25]:
train_state_encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [26]:
train_state_encoded = pd.DataFrame(
                        train_state_encoded,
                        columns=ohe.get_feature_names(), 
                        index=X_train.index,
)

train_state_encoded

,x0_AK,x0_AL,x0_AR,x0_AZ,x0_CA,x0_CO,x0_CT,x0_DC,x0_DE,x0_FL,...,x0_SD,x0_TN,x0_TX,x0_UT,x0_VA,x0_VT,x0_WA,x0_WI,x0_WV,x0_WY
228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
train_state_encoded.columns = train_state_encoded.columns.str.replace('x0_', '')
train_state_encoded

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
test_state_cat =  X_test['state']

In [30]:
test_plan_cat = X_test[['international plan', 'voice mail plan']]

In [31]:
test_state_encoded = ohe.transform(np.array(test_state_cat).reshape(-1,1))
test_state_encoded

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [32]:
test_state_encoded = pd.DataFrame(
                        test_state_encoded,
                        columns=ohe.get_feature_names(), 
                        index=X_test.index,
)

test_state_encoded

,x0_AK,x0_AL,x0_AR,x0_AZ,x0_CA,x0_CO,x0_CT,x0_DC,x0_DE,x0_FL,...,x0_SD,x0_TN,x0_TX,x0_UT,x0_VA,x0_VT,x0_WA,x0_WI,x0_WV,x0_WY
52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
684,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1735,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
654,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
test_state_encoded.columns = test_state_encoded.columns.str.replace('x0_', '')
test_state_encoded

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
684,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1735,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
654,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Ordinal Encoding Plan Columns

In [35]:
ordi_encoder = OrdinalEncoder()
train_plan_encoded = ordi_encoder.fit_transform(train_plan_cat)

In [36]:
train_plan_encoded.shape

(2484, 2)

In [37]:
train_plan_encoded = pd.DataFrame(
                        train_plan_encoded,
                        columns=[('international plan'), ('voice mail plan')], 
                        index=X_train.index,
)

train_plan_encoded

      international plan  voice mail plan
228                  0.0              1.0
367                  0.0              0.0
872                  0.0              1.0
1266                 0.0              0.0
277                  0.0              1.0
...                  ...              ...
1103                 0.0              0.0
1138                 0.0              0.0
1302                 0.0              0.0
865                  0.0              0.0
3193                 0.0              0.0

[2484 rows x 2 columns]

In [38]:
test_plan_encoded = ordi_encoder.transform(test_plan_cat)
test_plan_encoded.shape

(828, 2)

In [39]:
test_plan_encoded = pd.DataFrame(
                        test_plan_encoded,
                        columns=[('international plan'), ('voice mail plan')], 
                        index=X_test.index,
)

test_plan_encoded

      international plan  voice mail plan
52                   0.0              0.0
684                  0.0              0.0
1385                 0.0              0.0
1245                 0.0              0.0
204                  0.0              0.0
...                  ...              ...
2007                 0.0              0.0
211                  1.0              0.0
2887                 0.0              1.0
1735                 0.0              0.0
654                  0.0              1.0

[828 rows x 2 columns]

## Training Data

In [40]:
X_train.head()

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,...,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,average_hourly_night_rate,average_hourly_day_rate,average_hourly_intl_rate,average_hourly_eve_rate
228,VA,104,no,yes,23,280.2,136,47.63,220.5,92,...,102,6.16,13.3,3,3.59,4,22.224026,5.882847,3.704735,11.766275
367,MD,45,no,no,0,78.2,127,13.29,253.4,108,...,100,11.48,18.0,3,4.86,1,22.212544,5.884123,3.703704,11.764160
872,OK,149,no,yes,43,206.7,79,35.14,174.6,122,...,80,10.87,10.9,3,2.94,1,22.217111,5.882186,3.707483,11.765499
1266,IA,42,no,no,0,155.4,127,26.42,164.1,45,...,128,7.10,9.0,3,2.43,0,22.211268,5.881908,3.703704,11.763441
277,SD,144,no,yes,48,189.8,96,32.27,123.4,67,...,106,9.64,6.5,2,1.76,2,22.219917,5.881624,3.693182,11.763584

In [41]:
X_train.drop(columns=['state','international plan', 'voice mail plan'], inplace=True)

C:\Users\YueYu\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [45]:
training_data = pd.concat([X_train, train_state_encoded, train_plan_encoded, y_train], axis=1)
#training_data
training_data.to_csv('training_data.csv')

## Testing Data

In [43]:
X_test.drop(columns=['state', 'international plan', 'voice mail plan'], inplace=True)

C:\Users\YueYu\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [46]:
testing_data = pd.concat([X_test, test_state_encoded, test_plan_encoded, y_test], axis=1)
# testing_data
testing_data.to_csv('testing_data.csv')